@charset "utf-8";
/* CSS Document */

/*Reset Default CSS*/
*{margin: 0;padding: 0;outline: 0}

/*Apply CSS for Body*/
body{font-family: arial;font-size: 14px;line-height: 18px;color: #000}

/*Controlling Overflow*/
.clear{overflow: hidden}

.templete{width: 960px;margin: 0 auto}

.headersection{height: 85px;background: #090909;color: #FFFFFF}

.headersection h2{text-align: center;padding-top: 30px;font-size: 40px}

.navsection{height: 30px;background: #7A7A7A;color: #FFFDFD}

.navsection p{padding-left: 50px;font-size: 20px;padding-top: 5px;font-weight: bold}

.contentsection{background: #FFFFFF}

.maincontent{width: 650px;background: #DFDFDF none repeat scroll 0 0;float: left;padding: 10px;margin: 15px 15px 15px 0}

.maincontent p{font-size: 16px;line-height: 22px;margin-bottom: 15px}

.sidebar{width: 255px;background: #DFDFDF none repeat scroll 0 0;float: right;margin-top: 15px;padding: 10px}

.samesidebar{}

.samesidebar p{margin-bottom: 10px}

.samesidebar h2{background: #9b999a none repeat 0 0;border-bottom: 2px solid #555555;color: #fff;margin-bottom: 8px;padding: 10px}

.footersection{height: 90px;background: #555555}

.footersection p{color: #fff;text-align: center;font-size: 30px;padding-top: 30px}

	
