@charset "utf-8";
/* CSS Document */

/*Reset Default CSS*/
*{margin: 0;padding: 0;outline: 0}

/*Apply CSS for Body*/
body{font-family: arial;font-size: 14px;line-height: 18px;color: #000}

/*Controlling Overflow*/
.clear{overflow: hidden}

input[type="text"],input[type="email"]{border: 1px solid #cfc5b6;border-radius: 3px;margin-bottom: 5px;padding: 5px;width: 300px}

input[type="submit"]{background: #b7801c none repeat scroll 0 0;border: 1px solid #e6af4b;color: #fff;cursor: pointer;font-size: 20px;padding: 1px 10px;border-radius: 5px}

input[type="submit"]:hover{background: #fef4e5;color: #000000}

textarea{height: 110px;margin-bottom: 10px;padding: 5px;width: 300px;border: 1px solid #cfc5b6}

.templete{width: 960px;margin: 0 auto}

.headersection{background: #b78016 none repeat scroll 0 0;color: #FFFFFF}

.logo{float: left;width: 430px}

.logo img{float: left;margin-right: 15px;padding-bottom: 10px;padding-left: 20px;padding-top: 10px;width: 70px}

.logo h2 {
    color: #fff;
    font-size: 26px;
    margin-bottom: 11px;
    margin-top: 12px;
    text-shadow: 2px 2px 0 #666;
}

.logo p{}

.social{float: right;padding-top: 16px;width: 255px}

.social a{}

.social img{width: 40px}

.navsection{background:#e6af4b; color:#C9BC0A none repeat scroll 0 0}

.navsection ul{margin: 0;padding: 0;list-style: none}

.navsection ul li{display: block;float: left}

.navsection ul li a{background: #c48d29 none repeat scroll 0 0;border: 1px solid #c48d29;border:1px solid #b7801c;border-radius: 2px; color:#fff;display: block;font-size: 20px;font-weight: bold;margin: 5px;padding: 5px 15px;text-decoration: none}

.navsection ul li a:hover,#active{background: #fef4e5;color: #333}

.slidersection{box-shadow: 0 8px 10px -2px #555;margin-bottom: 5px}

.contentsection{background: #FFFFFF}

.maincontent{width: 628px;background: #fef4e5 none repeat scroll 0 0;border: 1px solid #b7801c;float: left;padding: 8px 20px;margin: 0 15px 2px 0}

.about{}

.about img{background: #fff none repeat scroll 0 0;border: 1px solid #b7801c;float:left;height: 190px;margin-right: 10px;padding: 5px;width: 300px}

.about p{font-size: 16px;line-height: 24px;margin-bottom: 10px;text-align: justify}

.samepost{}

.samepost h2,.about h2{border-bottom: 2px solid #e0d6c7;color:#ac7511;font-size: 25px;margin-bottom: 10px;padding: 10px}

.samepost img{background: #fff none repeat  scroll 0 0;border: 1px solid #ebb450;float: left;margin-right: 10px;padding: 5px;width: 200px}

.samepost p{font-size: 16px;line-height: 23px;text-align: justify}

.readmore{float: right;margin-top: 10px}

.readmore a{background: #fff none repeat scroll 0 0;border: 1px solid #b7801c;border-radius: 3px;color: #b7801c;display: block;font-size: 17px;padding: 4px 8px;text-decoration: none }

.readmore a:hover{color: #e16525}

.sidebar{width: 253px;background: #fef4e5 none repeat scroll 0 0;border: 1px solid #b7801c;float: right;margin-top: 0;margin-bottom: 15px;padding: 10px}



.samesidebar p{margin-bottom: 10px}

.samesidebar h2{background: #e6af4b none repeat 0 0;border-bottom: 2px solid #b7801c;color: #333;margin-bottom: 8px;padding: 10px}

.samesidebar ul{padding: 0;margin: 0;list-style: none;}

.samesidebar ul li{border-bottom: 1px dashed #e9c05c;font-size: 16px;padding: 5px 8px 5px 0}

.samesidebar ul li:last-child{border-bottom: 0px dashed #e9c05c}

.samesidebar ul li a{color:#814a00;text-decoration: none}

.samesidebar ul li a:hover{color: #000000}

.footersection{height: 90px;background: #b78016}

.footermenu{margin-top: 25px;margin-bottom: 5px}

.footermenu ul{padding: 0;margin: 0;list-style: none;text-align: center}

.footermenu ul li{display:inline-block}

.footermenu ul li a{color: #e6af4b;font-size: 18px;margin-right: 5px}

.footersection p{text-align: center}



	
